/**
 * @file _theme-variables.scss
 * @description 定义应用程序的光明和黑暗主题变量。
 * 主要用于统一管理 Element Plus 组件和自定义元素的颜色、背景色等。
 * @module ThemeVariables
 */

/*------------------------------------*\
 # 光明模式 (Light Mode)
 # 描述：为应用程序定义光明主题下的颜色和背景变量。
\*------------------------------------*/
:root {
  --el-color-primary: #FF9100;
  --el-color-success: #67c23a;
  --el-color-warning: #e6a23c;
  --el-color-danger: #D32F2F;
  --el-color-error: #f56c6c;
  --el-color-info: #909399;
  --el-text-color-primary: #FF9100; 
  --el-text-color-regular: #000;
  --el-text-color-secondary: #515151;
  --el-text-color-placeholder: #737373;
  --el-text-color-disabled: #c0c4cc;
  --el-text-color-quoted: #676666;
  --el-bg-color-login-bgc: #ff9100;
  --el-bg-color-home-details-box-bgc: #e0e0e0;
  --el-bg-color-group-title-box-bgc: #766c60;
  --el-bg-color-announcements: #f94141;
  --el-bg-color-group-list: #ebebeb;
  --el-bg-color-message-item-hover: #0000000D;
  --el-bg-color-search-user-result: #F9F9F9;
  --link-hover-color: #FF9100;
  --link-hover-background-color: rgb(4 3 2 / 10%);
  --el-menu-hover-bg-color: #FF9100;
  --el-menu-hover-text-color: #000;
  --el-dropdown-menu-item-hover: #0000000D;
  --icons-color: #FF9100;
  --primary-text-color: #FF9100;
  --secondary-text-color: #fff; 
  --el-btn-hover-border-color: #ff9100;
  --el-text-color-timestamp: #b0b0b0;
  --el-webkit-scrollbar-color: #888;
  --el-webkit-scrollbar-hover: #555;
  --el-button-hover-bg-color: #FFB547;
  --el-color-primary-light-3: #FFB547;
  --el-color-primary-dark-2: #CC7300;
  --el-color-primary-light-5: #FFB547;
  
}

/*------------------------------------*\
 # 黑暗模式 (Dark Mode)
 # 描述：为应用程序定义黑暗主题下的颜色和背景变量。
\*------------------------------------*/

html.dark {
  --el-color-primary: #FF9100;
  --el-color-primary-light-9: #FFFFFF0D;
  --el-color-primary-light-3: #FFB547;
  --el-color-primary-dark-2: #CC7300;
  --el-color-primary-light-5: #FFB547;
  --el-color-danger: #D32F2F;
  --el-text-color-primary: #FF9100;
  --el-text-color-regular: #fff;
  --el-text-color-secondary: #E0E0E0;
  --el-text-color-quoted: #c0bebe;
  --primary-text-color: #FF9100;
  --el-bg-color: #1e1e1e;
  --el-bg-color-login-bgc: #e09028;
  --el-bg-color-home-details-box-bgc: #242526;
  --el-bg-color-group-title-box-bgc: #7e705c;
  --el-bg-color-announcements: #DA3E44;
  --el-bg-color-group-list: #1e1e1e;
  --el-bg-color-message-item-hover: #FFFFFF0D;
  --el-dropdown-menu-item-hover: #FFFFFF0D;
  --el-menu-hover-text-color: #fff;
  --el-bg-color-search-user-result: #2D2D2D;
  --el-btn-hover-border-color: #ff9100;
  --el-text-color-timestamp: #b0b0b0;
  --el-webkit-scrollbar-color: #555;
  --el-webkit-scrollbar-hover: #888;
}