# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log

# Environment variables
.env
.env.local

# Build output
dist/
build/
.out/
.vite/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editor
.idea/
.vscode/
*.swp
*.swo

# Tests
coverage/
.nyc_output/

# Cache
.cache/
tmp/

# Tools
.eslintcache
.prettiercache
.babelrc
webpack.config.js

# Docker
docker-compose.override.yml
.docker/

# 忽略所有字体文件
*.eot
*.woff
*.woff2
*.ttf
*.svg

# 忽略自动生成的脚本和样式文件
docs/**

# jsDoc
jsdoc.json